@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TuskerGrotesk';
    src: url('$lib/fonts/TuskerGrotesk4600Semibold-subset.woff2') format('woff2'),
         url('$lib/fonts/TuskerGrotesk4600Semibold-subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TuskerGroteskBold';
    src: url('$lib/fonts/TuskerGrotesk5700Bold-subset.woff2') format('woff2'),
         url('$lib/fonts/TuskerGrotesk5700Bold-subset.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Supreme';
    src: url('$lib/fonts/Supreme-Medium-subset.woff2') format('woff2'),
         url('$lib/fonts/Supreme-Medium-subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Satoshi';
    src: url('$lib/fonts/Satoshi-Variable-subset.woff2') format('woff2'),
         url('$lib/fonts/Satoshi-Variable-subset.woff') format('woff');
    /* font-weight: normal; */
    /* font-style: normal; */
}